<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreID</key>
	<string>1256280807</string>
	<key>JPUSHServiceAppKey</key>
	<string></string>
	<key>JPUSHServiceChannel</key>
	<string></string>
	<key>AMapServicesAPIKey</key>
	<string></string>
	<key>ShareSDKAppKey</key>
	<string>1f39e1d17460a</string>
	<key>SSDKPlatformTypeSinaWeiboAppKey</key>
	<string>3217782787</string>
	<key>SSDKPlatformTypeSinaWeiboAppSecret</key>
	<string>88475bce83cd3cf4663cb1d804647d41</string>
	<key>SSDKPlatformTypeSinaWeiboRedirectUri</key>
	<string>http://www.sharesdk.cn</string>
	<key>SSDKPlatformTypeWechatAppId</key>
	<string>wx4dcf5f61c47df87c</string>
	<key>SSDKPlatformTypeWechatAppSecret</key>
	<string>5416b0b5eb175c2d9bc71a45e0a2f248</string>
	<key>SSDKPlatformTypeQQAppId</key>
	<string>1106277470</string>
	<key>SSDKPlatformTypeQQAppKey</key>
	<string>vJnlhHW0rMWcFFjd</string>
	<key>UMAnalyticsConfigAppKey</key>
	<string></string>
	<key>TalkingDataSession</key>
	<string></string>
	<key>EasyARAppKey</key>
	<string>sWYNtkEoedrfTy3DKAKcKXLkMEL0ZmzReTlW9qtTDJi3AMJilp9cSfYmvMQWXAafdn7rIfYYDmYE10t6Ydxec61iasnHztyWdlHw85b059d06cf60d8ae19d64cc1025e567JSAwZaHcBQjMWeZz6FCxxGIVszc2OXYkOAsBONAx7fydAPVGtZsa2U0Eqg0Bst76gZfW</string>
</dict>
</plist>
